# Manual de instrucciones para Render

# render.yaml
services:
  - type: web
    name: curso-backend
    env: docker  # <--- usa Docker, no "java"
    plan: free
    repo: https://github.com/SERGIOM053YA/curso
    branch: main

    # Render usará automáticamente tu Dockerfile
    dockerfilePath: ./Dockerfile

    # Variables de entorno que se inyectan en el contenedor
    envVars:
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: cursos_db_640q
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: cursos_db_640q
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: cursos_db_640q
          property: password
      - key: SPRING_MAIL_USERNAME
        sync: false
      - key: SPRING_MAIL_PASSWORD
        sync: false

